/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
    font-family: Nunito, san-serif;
}
/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}
/* Style the list items */
ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}
/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}
ul li .task {
    flex-grow: 1;
}
ul li .action {
    margin: 5px 15px;
    vertical-align: middle;
}
ul li a {
    color: grey;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: none;
}

.addBtn:hover {
    background-color: #bbb;
}

.info {
    background-color: #00cc66;
    padding: 15px 20px;
    color: black;
}

.error {
    background: #ff0000;
    padding: 15px 20px;
    color: black;
}


input[type='submit'], input[type='email'], input[type='password'], #name,  .btn{
    border: none;
    border-radius: 0;
    font-size: 12pt;
    background-color: lightgrey;
    color: black;
    padding: 5px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    box-sizing: border-box;
    text-align: center;
}


input[type='password'], input[type='email'], #name {
    background-color: #fff0ff;
    text-align: left;
    width: 150px;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
}

.navitem {
    margin: 2px;
    display: flex;
    align-items: center;
}
